---
layout: page
title: "Age Verification"
description: You must be 21 years of age to enter this site.
permalink: /age-verification/
---
<div class="container-fluid bg-paper pt-md-0 py-sm-0 g-0">
    <div class="row g-0 text-green align-items-center">
        <div class="col-md-12 col-lg-6">
            <img src="/assets/img/photos/exterior/entrance-2.jpg" alt="entrance" class="img-fluid mb-4 animate__animated animate__fadeIn">
        </div>
        <div class="col-md-12 col-lg-6 animate__animated animate__fadeIn pt-4 px-5">
            <h4 class="text-uppercase text-center fw-bold mt-4 mb-4">You must be 21 years of age to enter this site</h4>
        </div>
    </div>
</div>