<!-- Modal -->
<div class="modal age-verification fade" id="ageVerification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ageVerficationLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content align-content-center align-items-center">
            <div class="modal-body text-white p-5">
                <div class="d-flex flex-column justify-content-center align-content-center align-items-center">
                    <img src="/assets/img/branding/highergrounds-logo-botanical-white.png" alt="Higher Grounds of Maine" class="img-fluid">
                    <p class="px-5 py-2 text-center">Individual state laws within the United States vary in regards to selling CBD products to minors therefore we need to verify your age.</p>
                    <h4 class="fw-semibold text-uppercase text-center">Are you 21 years of age or older?</h4>
                    <div class="d-flex py-4">
                        <div class="me-5">
                            <button type="button" class="btn btn-light text-uppercase fs-4 fw-semibold px-4 pb-1" id="age-verification-button">I am 21+</button>
                        </div>
                        <div>
                            <a href="/age-verification/" class="btn btn-light text-uppercase fs-4 fw-semibold px-4 pb-1" role="button">NO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>