<div class="announcement container-fluid bg-announcement text-black text-center pb-2 pt-3 text-uppercase show-on-monday">
    <h6 class="animate__animated animate__flipInX"><span class="fw-normal">Monday Special:</span> <span class="fw-semibold">10% off all concentrates & vape cartridges</span></h6>
</div>
<div class="announcement container-fluid bg-announcement text-black text-center pb-2 pt-3 text-uppercase show-on-tuesday">
    <h6 class="animate__animated animate__flipInX"><span class="fw-normal">Tuesday Special:</span> <span class="fw-semibold">10% off all topicals and tinctures</span></h6>
</div>
<div class="announcement container-fluid bg-announcement text-black text-center pb-2 pt-3 text-uppercase show-on-wednesday">
    <h6 class="animate__animated animate__flipInX"><span class="fw-normal">Wednesday Special:</span> <span class="fw-semibold">BOGO 50% off flower 1/8s</span></h6>
</div>
<div class="announcement container-fluid bg-announcement text-black text-center pb-2 pt-3 text-uppercase show-on-thursday">
    <h6 class="animate__animated animate__flipInX"><span class="fw-normal">Thursday Special:</span> <span class="fw-semibold">3 for the price of 2 edibles</span></h6>
</div>