<div class="row pt-3 pb-4">
    <div class="col">
        <div class="d-flex flex-wrap text-white justify-content-center justify-content-center align-items-center">
            <div class="hours-cell p-2">
                <h5 class="fw-semibold text-center color-accent-2 h-day">MON</h5>
                <div class="text-center">
                    <img src="/assets/img/triangle-down.png" alt="hr" class="pb-1">
                </div>
                <h7 class="fw-semibold text-center fs-5">12p<span class="opacity-50">&mdash;</span>8p</h7>
            </div>
            <div class="hours-cell p-2">
                <h5 class="fw-semibold text-center color-accent-2 h-day">TUE</h5>
                <div class="text-center">
                    <img src="/assets/img/triangle-down.png" alt="hr" class="pb-1 h-day">
                </div>
                <h7 class="fw-semibold text-center fs-5 ">12p<span class="opacity-50">&mdash;</span>8p</h7>
            </div>
            <div class="hours-cell p-2">
                <h5 class="fw-semibold text-center color-accent-2 h-day">WED</h5>
                <div class="text-center">
                    <img src="/assets/img/triangle-down.png" alt="hr" class="pb-1">
                </div>
                <h7 class="fw-semibold text-center fs-5">12p<span class="opacity-50">&mdash;</span>8p</h7>
            </div>
            <div class="hours-cell p-2">
                <h5 class="fw-semibold text-center color-accent-2 h-day">THU</h5>
                <div class="text-center">
                    <img src="/assets/img/triangle-down.png" alt="hr" class="pb-1">
                </div>
                <h7 class="fw-semibold text-center fs-5">12p<span class="opacity-50">&mdash;</span>9p</h7>
            </div>
            <div class="hours-cell p-2">
                <h5 class="fw-semibold text-center color-accent-2 h-day">FRI</h5>
                <div class="text-center">
                    <img src="/assets/img/triangle-down.png" alt="hr" class="pb-1">
                </div>
                <h7 class="fw-semibold text-center fs-5">10a<span class="opacity-50">&mdash;</span>10p</h7>
            </div>
            <div class="hours-cell p-2">
                <h5 class="fw-semibold text-center color-accent-2 h-day">SAT</h5>
                <div class="text-center">
                    <img src="/assets/img/triangle-down.png" alt="hr" class="pb-1">
                </div>
                <h7 class="fw-semibold text-center fs-5">10a<span class="opacity-50">&mdash;</span>10p</h7>
            </div>
            <div class="hours-cell p-2">
                <h5 class="fw-semibold text-center color-accent-2 h-day">SUN</h5>
                <div class="text-center">
                    <img src="/assets/img/triangle-down.png" alt="hr" class="pb-1">
                </div>
                <h7 class="fw-semibold text-center fs-5">10a<span class="opacity-50">&mdash;</span>9p</h7>
            </div>
        </div>
    </div>
</div>
