<section id="sub-footer" class="container-fluid">
  <div class="row text-center p-5">
    <div class="col-12"><p>Nothing is more important to us than meeting and exceeding your needs every time.</p></div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-sm-12 px-5">
      <h5 class="text-uppercase text-center text-red fs-3">We Value Your Feedback</h5>
      <p>Please leave us a review on <a href="https://g.page/r/CUk0BWvfO3MWEBM/review" target="_blank">Google</a>, <a href="https://weedmaps.com/dispensaries/higher-grounds-1#reviews" target="_blank">Weedmaps</a>, or <a href="https://www.facebook.com/HigherGroundsMaine" target="_blank">Facebook</a>.</p><p>We welcome direct feedback as well &mdash; leave your comments below!</p>
      <div class="pt-3 pb-5 scrolling-slide"><button class="btn btn-dark rounded-3 px-4 fs-5 pt-2 fw-semibold" href="https://g.page/r/CUk0BWvfO3MWEBM/review" target="_blank"><i class="fa-solid fa-pen-clip pe-2"></i> LEAVE A REVIEW</button></div>
    </div>
    <div class="col-md-6 col-sm-12 px-5 pb-5">
      <h5 class="text-uppercase text-center text-red fs-3">Reward Program Sign Up</h5>
      <p>Enroll in our reward point program.</p>
      <p>No spam! Just great sales in your inbox.</p>
      <div class="pt-3 pb-5 scrolling-slide">
        <a class="btn btn-dark text-white rounded-3 px-4 fs-5 pt-2 fw-semibold" href="https://enrollnow.vip/join/3281" target="_blank"><i class="fa-solid fa-piggy-bank pe-2"></i> ENROLL</a>
      </div>
    </div>
  </div>
</section>