:root {
  --bs-link-color-rgb: 255, 255, 255;
}

a.text-red {
  color: #923f15;
}

a {
  color: #cf9a50;
}

.color-accent-1 {
  color: #8BE5D0;
}

.color-accent-2 {
  color: #E9AF5D;
}

.text-green-light {
  color: #5A8075;
}

.text-green a {
  color: #43695e;
}

.text-red {
  color: #923f15;
}

.btn-warning {
  background-color: #E9AF5D;
  border-color: #FFE500;
  border-width: 3px;
  font-family: Hind;
  font-weight: 600;
  font-size: 1.4rem;
}

.btn-green {
  background-color: #2a5146;
  border-color: #E9AF5D;
  color: white;
  border-width: 3px;
  font-family: Hind;
  font-weight: 600;
  font-size: 1.6rem;
}

.btn-green:hover {
  background-color: #E9AF5D;
  color: #2a5146 !important;
}

html, body {
  overscroll-behavior-x: none;
}

h1, h2 {
  font-family: "Hind";
}

@media (max-width: 768px) {
  .masthead-wrapper h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
}

@media (max-width: 768px) {
  .masthead-wrapper h2 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media (min-width: 769px) {
  h3 {
    font-size: 3.998rem;
  }
}

h2 {
  font-family: "Hind";
  font-size: 5rem;
  line-height: 4rem;
}

h3 {
  font-family: "Hind";
}

h4 {
  font-family: "Hind";
  font-size: 2.5rem;
}

h5 {
  font-size: 1.6rem;
  letter-spacing: 0.03rem;
  font-family: "Hind";
  font-weight: 600;
}

h6 {
  font-family: "Hind";
  font-size: 1.2rem;
  font-weight: 700;
}

p, li {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

li {
  list-style-type: circle;
  margin-bottom: 0.8rem;
}

section#footer p {
  font-size: 1.2rem;
}

section#footer h6 {
  font-size: 1.6rem;
}

#sub-footer a {
  color: #923f15;
}

#sub-footer {
  position: relative;
  padding-bottom: 1rem;
}

#sub-footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent rgb(27, 22, 25) transparent;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  color: #E9AF5D !important;
  width: 4rem;
  height: 4rem;
}

.navbar {
  background: rgb(27, 22, 25);
  font-family: "Hind";
  text-transform: uppercase;
  background-image: url("/assets/img/botanicals.png");
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position-x: right;
  background-position-y: bottom;
  background-origin: content-box;
  z-index: 100;
  padding: 0px;
}

.navbar a {
  text-decoration: none;
}

.navbar h6, h6.nav {
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar h6 a {
  color: white;
}

.navbar i.fa-solid {
  min-width: 29px;
  display: inline-block;
  animation: fadeInDown 0.8s 1 linear;
  transition-timing-function: ease-out;
  transition: 0.1s;
}

.navbar h6 a.active, .navbar h6 a:hover, section#footer a.active, section#footer a:hover {
  color: #e0b269;
}

.bg-cta-nav {
  background-color: #e0b269;
}

a.btn.bg-cta-nav:hover {
  background-color: white;
}

.bg-gold {
  background-color: #e0b269;
  color: #2a5146;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
}

body {
  background: #fefff7;
  color: #43695e;
  font-family: "Aleo";
}

.btn-nav {
  font-family: "Hind";
  font-size: 1.35rem;
  font-weight: 600;
  background-color: #e0b269;
  border-left-color: rgba(255, 255, 255, 0.6);
  border-right-width: 3px;
  border-right-color: rgba(255, 255, 255, 0.6);
  border-left-width: 3px;
  border-top-color: rgba(255, 255, 255, 0.6);
  border-top-width: 3px;
  border-bottom-color: rgba(255, 255, 255, 0.6);
  border-bottom-width: 3px;
  color: #1f3f36;
}

.btn-nav:hover {
  background-color: white;
  color: #1f3f36;
}

@media (max-width: 768px) {
  svg#logo {
    width: 125px;
  }
}
@media (min-width: 769px) {
  svg#logo {
    width: 125px;
  }
}

@media (max-width: 768px) {
  svg#logo-text {
    width: 250px;
  }
}
@media (min-width: 769px) {
  svg#logo-text {
    width: 325px;
  }
}

.modal.age-verification {
  background-color: #081633;
}

.age-verification .modal-body {
  background-image: url("/assets/img/maine-forest.jpg");
  background-position: top;
  background-repeat: no-repeat;
  min-height: 75vh;
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  -o-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
}

.form-input {
  font-family: Hind;
  letter-spacing: 0.02rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
  border-color: rgb(224, 178, 105);
  border-style: solid;
  border-width: 4px;
  border-radius: 0px;
  box-shadow: rgba(10, 10, 10, 0.05) 0 1px 4px 0 inset;
}

.form-textarea {
  font-family: Hind;
  color: black;
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
  display: block;
  min-height: px;
  border-color: rgb(224, 178, 105);
  border-style: solid;
  border-width: 4px;
  border-radius: 0px;
  box-shadow: rgba(10, 10, 10, 0.05) 0 1px 4px 0 inset;
}

#footer svg.logo {
  width: 125px;
}

section#jumbo {
  min-height: 700px;
  background-image: url("/assets/img/jumbo-mural.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  animation: pulse 35s infinite;
  overflow: hidden;
  z-index: -1;
}

#offcanvasTop {
  min-height: 700px;
  background-image: url("/assets/img/maine-forest.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#offcanvasTop a {
  color: white;
  font-family: "Hind";
  text-transform: uppercase;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.bg-paper {
  background-image: url("/assets/img/texture-nouveau.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: repeat-y;
}

.hours {
  width: 400px;
}

.masthead {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.masthead h5 {
  color: #f5f6f1;
  font-weight: 700;
  padding: 2rem;
  line-height: 2.3rem;
  display: inline-block;
  background-color: rgb(21, 17, 20);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin: auto;
}

.masthead-wrapper {
  padding: 50px 50px 50px 50px;
  width: 500px;
  margin: auto;
}

.masthead .slug {
  margin-top: 3rem;
  letter-spacing: 0.1em;
  text-shadow: 0px 3px 0px rgb(0, 0, 0);
}

img.hr {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section.welcome {
  padding-bottom: 4rem;
}

.cannabis-coffee-image {
  background-image: url("/assets/img/photos/coffee/coffee-cannabis-cup-lg.jpg");
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position-x: right;
  background-origin: content-box;
  height: 900px;
  background-color: rgb(33, 21, 29);
}
@media (min-width: 769px) {
  .cannabis-coffee-image {
    max-width: 50vw;
    margin-top: -2rem;
  }
}

.cannabis-coffee-text {
  background-image: url("/assets/img/leaves.png");
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position-x: right;
  background-position-y: bottom;
  background-origin: content-box;
  background-color: rgb(27, 22, 25);
}
@media (min-width: 769px) {
  .cannabis-coffee-text {
    max-width: 50vw;
    margin-bottom: 2rem;
  }
}

.bg-offblack {
  background-color: rgb(27, 22, 25);
}

.leaves {
  background-image: url("/assets/img/leaves.png");
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position-x: right;
  background-position-y: top;
  background-origin: content-box;
}

.bg-nav {
  background-color: #2a5146;
}

.text-nav {
  background-color: #2a5146;
}

section#testimonials p {
  font-weight: 600;
}

section#footer {
  background-color: rgb(27, 22, 25);
  min-height: 10rem;
  background-image: url("/assets/img/botanicals.png");
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position-x: left;
  background-position-y: bottom;
  background-origin: content-box;
  font-family: "Hind";
}

div.announcement h6, section#footer h6 {
  font-size: 1rem;
  font-family: Hind;
  font-weight: 500;
}

div.announcement a {
  color: rgb(27, 22, 25);
  text-decoration: none;
}

@media (min-width: 769px) {
  #sub-nav div {
    width: 320px;
  }
}
@media (max-width: 768px) {
  #sub-nav div {
    width: 100%;
  }
}

div.announcement.show-on-monday, div.announcement.show-on-monday, div.announcement.show-on-tuesday, div.announcement.show-on-tuesday, div.announcement.show-on-wednesday, div.announcement.show-on-wednesday, div.announcement.show-on-thursday, div.announcement.show-on-thursday, div.announcement.show-on-friday, div.announcement.show-on-saturday, div.announcement.show-on-sunday {
  display: none;
}

body.is-monday div.announcement.show-on-monday, body.is-tuesday div.announcement.show-on-tuesday, body.is-wednesday div.announcement.show-on-wednesday, body.is-thursday div.announcement.show-on-thursday, body.is-friday div.announcement.show-on-friday, body.is-saturday div.announcement.show-on-saturday, body.is-sunday div.announcement.show-on-sunday {
  display: block;
}

.bg-offblack {
  background-color: rgb(27, 22, 25);
}

.bg-announcement {
  background-color: #e0b269;
}

.bg-gold {
  background-color: #e0b269;
}

.btn-dark, .btn-light {
  font-family: "Hind";
}

section#footer a {
  color: white;
  text-decoration: none;
  letter-spacing: 0em;
  font-size: 1.4rem;
  font-weight: 500;
}

.social-icon {
  max-width: 40px;
  fill: #e0b269;
}

@media (prefers-reduced-motion: no-preference) {
  .animate-zoom {
    max-height: 70vh;
    margin: 0 auto;
    display: block;
    opacity: 0;
    scale: 0.9;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 36%;
  }
  @keyframes fade-in {
    to {
      opacity: 1;
      scale: 1;
    }
  }
  .scrolling {
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -ms-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
    animation-range: entry-crossing;
    animation-timeline: view();
  }
}
.hours-cell {
  width: 100px;
}

.scrolling-slide {
  animation: slideInUp 3s ease-in-out;
  animation-range: entry-crossing;
  animation-timeline: view();
}

/*# sourceMappingURL=main.css.map */